body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #f6f6f2;
}